<html>
    <head>
        <meta charset="utf-8"/>
        <title>Week 5</title>
        <script src="https://unpkg.com/vue@3.0.2"></script>
    </head>
    <body>
        <div id="app">
        
        <form action="" id="myForm">
            <h3>Form User</h3>
            <label for="name">Name: </label>
            <input id="name" v-model="username" type="text" placeholder="Myname"> <br><br>

            <label for="passowrd">Password: </label>
            <input id="password" v-model="password" type="password" placeholder="******"> <br><br>

            <label for="email">Email: </label>
            <input id="email" v-model="email" type="text" placeholder="example@gmail.com"> <br><br>

            <button @click="checkInput">Submit</button>
            
        </form>              
        </div>
        <script src="main.js"></script>
    </body>
</html>